<!DOCTYPE html>
<html xmlns="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">	
	<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<form th:action="@{/form}" th:object="${cliente}"  method="post">
		<table >
			<tr>
				<td>Nombre</td>
				<td><input  type="text" th:field="*{nombre}"/></td>
			</tr>
			<tr>
				<td>Apellido</td>
				<td><input type="text" th:field="*{apellido}"/></td>
			</tr>
			<tr>
				<td>E-mail</td>
				<td><input type="email" th:field="*{email}"/></td>
			</tr>
			<tr>
				<td><input type="submit" value="Crear cliente"/></td>
			</tr>
		</table>
		<input type="hidden" th:field="*{id}"/>
	</form>
</body>
</html>